<div class="row border-bottom trick-row">
    <div class="col">
        <div class="row">
            <div class="col-10">
                <h2>{{ trick.title }}</h2>
            </div>
            <div class="col-2 text-right">
                <a href="#" style="background-color:{{trick.language.color}}" class="badge badge-primary">
                    {{ trick.language.name }}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>{{ trick.description }}</p>
            </div>
            <div class="col text-right">
                <p class="text-right">{{ trick.create_date | date:"M jS, Y" }}</p>
            </div>
        </div>

        <pre><code class="language-{{ trick.language.syntax }}">{{ trick.code }}</code></pre>
    </div>
</div>