{% extends 'tricks/base.html' %}

{% block content %}
{% if tricks %}
    {% for trick in tricks %}
    <div class="row border-bottom trick-row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>{{ trick.title }}</h2>
                </div>
                <div class="col text-right">
                    <a href="#" class="badge badge-primary ">{{trick.language.name}}</a>
                </div>
            </div>

            <p>{{ trick.description }}</p>

            <pre><code class="lang-{{ trick.language.syntax }}">{{ trick.code }}</code></pre>
        
            <p class="text-right">{{ trick.create_date|date:"M jS, Y" }}</p>
        </div>
    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No tricks are available.</p>
{% endif %}
{% endblock %}