<div class="row">
    <div class="col">
        {% if page_obj.has_previous %}
            <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.previous_page_number }}"><< Previous</a>
        {% endif %}
    </div>
    <div class="col text-center">
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>
    <div class="col text-right">
        {% if page_obj.has_next %}
            <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.next_page_number }}">Next >></a>
        {% endif %}
    </div>
</div>